@import '../../styles.scss';

.uc-container{
    margin: 0 1.5em ;
    height: 95%;
    background-color: $Darkblue;
    border-radius: 1em;
}
.uc-header{
    height: 70%;
    background-color: $Blue;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    color: white;
}
.uc-image{
    height: 4.5em;
    width: 4.5em;
    margin-top: 1em;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
img{
    height: 93%;
}

.uc-body{
    background-color: $Darkblue;
    padding: 0 1em ;
    color: $Desaturatedblue;
    border-radius: 1em;
}

.cursor{
    cursor: pointer;
}

.timeframe{
    color: white;
}

@media (max-width: 425px) {
    .uc-container{
        margin: 5em 0 ;
        height: 10em;
    }
    .uc-header{
        height: 70%;
        display: flex;
        flex-direction: row;
    }
    .user-data{
        margin-left: 1em;
    }
    .uc-body{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1em 0;
    }
}